
	.mediaViewInfo {
		--web-view-name: about;
		--web-view-id: about;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: about;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#about {
		position: absolute;
		width: 1365px;
		height: 666px;
		background-color: rgba(246,246,246,1);
		overflow: hidden;
		--web-view-name: about;
		--web-view-id: about;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#About_PDDA {
		left: 585px;
		top: 45px;
		position: absolute;
		overflow: visible;
		width: 196px;
		white-space: nowrap;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: rgba(104,104,104,1);
	}
	#Lorem_Ipsum_is_simply_dummy_te {
		left: 218px;
		top: 139px;
		position: absolute;
		overflow: visible;
		width: 972px;
		white-space: nowrap;
		line-height: 15px;
		margin-top: -0.5px;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(142,142,142,0.812);
	}
	#Lorem_Ipsum_is_simply_dummy_te_n {
		left: 218px;
		top: 217px;
		position: absolute;
		overflow: visible;
		width: 972px;
		white-space: nowrap;
		line-height: 15px;
		margin-top: -0.5px;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: rgba(142,142,142,0.812);
	}
	#Email {
		left: 242.85px;
		top: 438.637px;
		position: absolute;
		overflow: visible;
		width: 71px;
		white-space: nowrap;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(104,104,104,1);
	}
	#abc344gmailcom {
		left: 399.566px;
		top: 441.576px;
		position: absolute;
		overflow: visible;
		width: 193px;
		white-space: nowrap;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(104,104,104,1);
	}
	#Line_11 {
		fill: transparent;
		stroke: rgba(40,168,109,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		width: 951.473px;
		height: 2px;
		left: 227.83px;
		top: 409px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Phone {
		left: 835.434px;
		top: 438.637px;
		position: absolute;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(104,104,104,1);
	}
	#ID92_3403882654 {
		left: 992.15px;
		top: 441.576px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Rubik;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(104,104,104,1);
	}
	#Logo-01 {
		position: absolute;
		width: 281px;
		height: 119px;
		left: 542px;
		top: 507.151px;
		overflow: visible;
	}